body {
    overflow-x: hidden;
    font-family: cursive;
    font-size: 80%;
    letter-spacing: 0.15em;
}

.navbar {
    border-bottom: #ffc107 3px solid;
    opacity: 0.8;
    color: #070500;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255, 193, 7, 0);
}

.navbar,
#subscribeForm {
    background-image: linear-gradient(to right,
        #070500,
        #2e2300,
        #070500) !important;
    color: #fff2cb !important;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

a:hover,
.navbar {
    color: #ffc107 !important;
}

a {
    color: #fff2cb !important;
}

#home-section {
    background: url(../img/apis-mellifera-bee-beehive-56876.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 720px;
    color: #fff2cb;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 720px;
    background: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

#home-section .home-inner {
    padding-top: 130px;
}

.block-divider1 {
    height: 3px;
    background: #ffc107;
    width: 270px;
}

.block-divider2 {
    height: 3px;
    background: #ffc107;
    width: 135px;
}

#about-section,
#kitchen-section,
#schedule-section {
    position: relative;
    min-height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    background-image: linear-gradient(to right, #070500, #2e2300, #070500);
    color: #fff2cb;
}

#services,
#info1,
#info2,
#info3,
#kitchen1,
#kitchen2,
#schedule,
#events {
    background-image: linear-gradient(to right, #ffc107, #fff2cb, #ffc107);
    color: #070500;
}

.img-thumbnail {
    background-color: #fff2cb;
}

.btn-dark {
    background-image: linear-gradient(to right,
        #070500,
        #2e2300,
        #070500) !important;
    color: #fff2cb;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(7, 5, 0, 0);
}

.btn-warning {
    background-image: linear-gradient(to right,
        #ffc107,
        #fff2cb,
        #ffc107) !important;
}

.btn-dark {
    display: inline-block;
}

.fa-play,
.fa-utensils,
.form-group,
.modal-title {
    color: #ffc107;
}

.fa-info-circle,
.fa-map-marker-alt,
.fa-table {
    color: #070500;
}

#main-footer {
    background-image: linear-gradient(to right, #070500, #2e2300, #070500);
    color: #fff2cb;
    border-top: #ffc107 3px solid;
}

.which-project {
    padding-top: 45px;
}